
header{	
	background-color:#F7F7F7;
	text-decoration: none;
	color:lightgrey;
	padding-bottom: :20px;
}
.navlinks{
	display:flex;
	justify-content:flex-end;
	align-items:center;
}

.icon{
	width:60px;
	float:left;
}

.dropdown-menu.show{
	padding-bottom:0px;
	width:300px;
}
.drop1{
	min-width: 450px;
}
.btn{
    display: inline-flex;
    flex-direction: row;
}
#twitter{
	width:20px;
}
.drop2{
	width:250px;
	text-decoration: none;
	font-size: 15px;
	display:flex;
	flex-flow:column;
}
#privacy{
	text-decoration: none;
}
#smallicon{
	width:18px;
	float:left;
	vertical-align: center;
}
#anc{
	padding-left: 20px;
}
ul{
	list-style-type: none;
	margin:0px;
	padding:0px;	
	bottom-height:100%;
	align-items: space-between;
	flex-direction: column;

}

#greyside{
	background-color:#F7F7F7;
	padding-bottom: 30px;
}

body{
	padding:0px;
	height:100%;

}

#welcomelogo{
	width:130px;
	text-align:center;
}
#welcometitle{
	color:#4C4C4C;
}
.inputcontainer{
	width:600px;
	text-align:center;
	display:flex;
	flex-direction:row;
}
#basic-addon2{
	float:right;
}

.bottomimage{
	width:780px;
	height:100%;
	display:block;
	display:flex;
	align-items:flex-end;
	position:relative;bottom:71px;
	text-align:center;
	/*scroll*/

}
#lastimage{
	position:relative;bottom:36px;
}


.content1{
	background-color:#F7F7F7;
	height:753px;
	width:100%;
	text-decoration: none;
	color:#9A9A9A;
	padding-bottom:80px;
	padding-top: 80px;



}
.content2{
	background-color:#58B792;
	border-width: 0px;
	height:753px;
	width:100%;
	padding-bottom:150px;
	padding-top:100px;



}
.content3{
	background-color:#F5A339;
	border-width:0px;
	height:753px;
	width:100%;
	padding-bottom:150px;
	padding-top:100px;





}
.content4{
	background-color:#5F63BD;
	border-width:0px;
	height:753px;
	width: 100%;
	padding-bottom:150px;
	padding-top: 100px;





}
.content5{
	background-color:#87CEF5;
	border-width:0px;
	height:753px;
	width:100%;
	padding-bottom:160px;
	padding-top:140px;
	color:#365374;
	
}

#dismiss{
	color:#365374;
	float:right;
	flex-direction: row;
	display: flex;
	padding-top:10px;
	padding-right: 6px;
	clear:both;
}
.switch{
	display:flex;
	justify-content:center;
	align-items:center;
	vertical-align: center;
	color:#365374;

}
.button2{
	font-size:20px;
	border-radius: 8px;
	background-color: #365374;
	border:none;
	color:white;
	text-decoration: none;
	display:inline-block;
	padding:12px 28px;
}


#htag{
	display:flex;
	justify-content:center;
	align-items:center;
	vertical-align: center;
	color:white;
}
#ptag{
	display:flex;
	justify-content:center;
	vertical-align: center;
	color:white;
}
.button{
	text-align:center;
	font-size:20px;
	border-radius: 8px;
	background-color: #555555;
	border:none;
	color:white;
	text-decoration: none;
	display:inline-block;
	padding:12px 28px;

}

.scroll{
	display:flex;
	justify-content: center;
	width:80px;
	align-self: flex-end;
	position:relative; top:170px;
}








